<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.common">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="library.common.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar">
        <activity android:name=".tab.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="library.common.base.BaseActivity" />

        <receiver
            android:name=".tab.MainActivity$ChangeReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.changeReciever" />
                <action android:name="com.example.change" />
                <action android:name="com.example.detail"/>
                <action android:name="com.example.changeTabToRight"/>
                <action android:name="com.example.changeTabToLeft"/>
                <action android:name="com.example.add"/>
                <action android:name="com.example.last"/>
                <action android:name="com.example.next"/>
            </intent-filter>
        </receiver>

        <activity android:name=".activities.PlayerDetailsActivity"></activity>
    </application>

</manifest>